:root {
    --main-background-color: #484a77;
    --main-border-color: #323353;

    --secondary-background-color: #2e222f;
    --secondary-border-color: #45293f;

    --primary-font-color: #eee;
    --secondary-font-color: #9babb2;
}

@font-face {
    font-family: 'Habbo';
    src: url('../fonts/Habbo.woff2') format('woff2');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Habbo';
    font-size: 44px;
    color: var(--primary-font-color);
    text-shadow: 1px 1px 0 #000,
        -1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000,
        0px 1px 0 #000,
        0px -1px 0 #000,
        -1px 0px 0 #000,
        1px 0px 0 #000,
        2px 2px 0 #000,
        -2px 2px 0 #000,
        2px -2px 0 #000,
        -2px -2px 0 #000,
        0px 2px 0 #000,
        0px -2px 0 #000,
        -2px 0px 0 #000,
        2px 0px 0 #000,
        1px 2px 0 #000,
        -1px 2px 0 #000,
        1px -2px 0 #000,
        -1px -2px 0 #000,
        2px 1px 0 #000,
        -2px 1px 0 #000,
        2px -1px 0 #000,
        -2px -1px 0 #000;
}

.navbar {
    width: 100%;
    overflow: hidden;
    border-bottom: 4px solid var(--secondary-border-color);
    background-color: var(--secondary-background-color);
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    max-width: 48rem;
    margin: 0 auto;
    padding-inline: 1rem;
    text-transform: uppercase;
    font-size: clamp(24px, 4vw, 48px);
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
    background: var(--main-background-color);
    border: 8px solid var(--main-border-color);
    gap: 6rem;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
    text-align: center;
    background: #474747;
}

.hero p {
    font-size: 40px;
    max-width: 32rem;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;

}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    margin-bottom: 12px;

}

.slide {
    min-width: 100%;
    aspect-ratio: 16/9;
    background-color: #474747;
}

.slide img {
    width: 100%;
    height: 100%;
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 0;
    bottom: 24px;
    width: clamp(0.5rem, 8vw, 4rem);
    padding: 0.5 rem 1rem;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: clamp(1rem, 3vw, 2rem);
    cursor: pointer;
    color: white;
    transition: background 0.3s, opacity 0.3s;
    opacity: 0.5;
}

.carousel-btn:hover {
    background: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dot {
    width: 12px;
    height: 12px;
    background: #999;
    border: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

.dot.active {
    background: white;
}

.world-label {
    margin-bottom: 2rem;
}

.world p {
    margin: 0 auto;
    margin-bottom: 3rem;
    width: 100%;
    max-width: 540px;
}

.world-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.world.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: min(1200px, 100%);
    height: auto;
    gap: 2rem;
}

.world.card img {
    width: min(720px, 100%);
    aspect-ratio: 16/9;
    background: #474747;
}

.world.card div {
    width: min(360px, 100%);
}

.characters-label {
    margin-bottom: 2rem;
}

.characters-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.character.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: min(360px, 100%);
}

.updates-label {
    margin-bottom: 2rem;
}

.updates-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.update.card {
    width: min(480px, 100%);
    height: 120px;
    border: 2px solid black;
    background: lightpink
}

footer {
    position: relative;
}

footer .leaftail {
    position: absolute;
    top: -104px;
    right: 32px;
    width: 104px;
}

.footer-content {
    font-family: sans-serif;
    font-size: 12px;
    text-shadow: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
    color: var(--secondary-font-color);
    background-color: var(--secondary-background-color);
}
